<svg class="icon" viewBox="{svg.viewBox}" xmlns="http://www.w3.org/2000/svg">
    {#if title}
    <title>{title}</title>
    {/if}
    <use xlink:href="{svg.url}" xmlns:xlink="http://www.w3.org/1999/xlink"/>
</svg>
<script>
    export default {
        data:function(){
            return {
                name:'undefined',
                title: undefined
            }
        },
        computed:{
            svg({name}){
                let i = require('./../../assets/icons/'+name+'.svg');
                return i.default;
            },
        },
    }
</script>


<style>
    .icon {
      fill: currentColor;
      height: 24px;
      width: 24px;
      vertical-align: middle;
    }
</style>